<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a New RSVP</title>
  </head>
  <body>
    <h1>Add a new RSVP</h1>
    <br>
    <form action="#" data-th-action="@{/rsvps/saveRSVP}" data-th-object="${rsvp}" method="POST">
        <label for="fullName">Full Name:</label>
        <input type="text" data-th-field="*{fullName}" placeholder="Enter full name">
        <br>
        <label for="email">Email:</label>
        <input type="text" data-th-field="*{email}" placeholder="Enter email">
        <br>
        <label for="phone">Phone:</label>
        <input type="number" data-th-field="*{phone}" placeholder="Enter phone">
        <br>
        <label for="confirmationDate">Confirmation Date:</label>
        <input type="date" data-th-field="*{confirmationDate}">
        <br>
        <label for="comments">Comments</label>
        <input type="text" data-th-field="*{comments}" placeholder="Enter comments">
        <br>
        <button type="submit">Create</button>
    </form>
  </body>
</html>
